@media (max-width: 768px) {
    /* Default CSS */
    body {
        font-size: 16px;
    }
    section {
        padding: 50px 15px;
    }
    /* Common CSS */
    .headline-share h1 {
        font-size: 32px;
    }
    .headline-share p {
        padding: 0 20px;
    }
}

/* ######################### sectrion : welcome ######################### */
.welcome {
    background-color: #f9f9f9;
}
.slideshow {
    display: none;
}
.welcome-heading {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-heading h1 {
    font-size: 40px;
}
.welcome-heading span {
    font-size: 18px;
}
.welcome-heading p {
    padding: 0 30px;
}

/* Mouse Wheele */
.mouse {
    /* bottom: 40px;
    left: 50%;
    transform: translateX(-50%); */
}

/* ######################### sectrion : ceo-access ######################### */
.ceo-inner,
.access-inner {
    width: 100%;
    /* margin: auto; */
    /* border: 1px solid #000; */
}
.ceo-content > div {
    float: none;
    width: 100%;
    /* text-align: center; */
}
.ceo-left {
    padding-right: 0;
}
.ceo-right > div {
    float: none;
    width: 100%;
}
.access-content > div {
    float: none;
    width: 100%;
    text-align: center;
}
.access-left {
    padding-right: 0;
    padding-top: 20px;
}
.access-left h2 {
    font-size: 28px;
}
.btn-download {
    margin-bottom: 50px;
}
.btn-download img {
    height: 50px;
}
.access-right img {
    width: 100%;
}

/* ######################### section : banner ######################### */
.banner {
    padding-top: 30px;
    background: linear-gradient(to right, #69acfe, #69acfe);
    /* background-position: right 20px bottom 20px; */
}
.banner-inner {
    width: 100%;
}
.banner-content > div {
    /* border: 1px solid #000; */
    float: none;
    width: 100%;
}
.tab-btn {
    text-align: center;
    margin-bottom: 20px;
}
.tab-btn label {
    width: 27%;
}
.tab-btn label em {
    width: 100px;
    height: 100px;
    padding-top: 15px;
}
.tab {
    padding: 20px;
    text-align: center;
}
.tab h2 {
    font-size: 26px;
}

/* ######################### section : banner ######################### */
.feature-inner {
    width: 100%;
}
.feature-mockup img {
    width: 100%;
}
.feature-content {
    margin: 50px 0;
}
.feature-content > div {
    float: none;
    width: 100%;
}
.feature-about {
    padding: 0 10px;
    padding-top: 80px;
}
.feature-about h2 {
    font-size: 22px;
    margin-top: 20px;
}

/* Change Order with Flex */
.feature-content.flex-order {
    display: flex;
    flex-direction: column;
}
.feature-content.flex-order > div:first-child {
    order: 1;
}

/* ######################### section : vision ######################### */
.vision {
    padding-top: 0px;
}
.vision-content > div {
    float: none;
    width: 100%;
    height: auto;
}
.vision-item-headline {
    width: 80%;
}
.vision-item-desc {
    padding: 20px 0;
}