@media (max-width: 768px) {
    /* Default CSS */
    body {
        font-size: 16px;
    }
    section {
        padding: 50px 15px;
    }
}

/* ######################### sectrion : welcome ######################### */
.welcome {
    background-color: #f9f9f9;
}
.slideshow {
    display: none;
}
.welcome-heading {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-heading h1 {
    font-size: 40px;
}
.welcome-heading span {
    font-size: 18px;
}
.welcome-heading p {
    padding: 0 30px;
}

/* Mouse Wheele */
.mouse {
    /* bottom: 40px;
    left: 50%;
    transform: translateX(-50%); */
}