.heading {
    font-size: 50px;
    color: crimson;
    font-weight: normal;
    text-align: left;

    float: left;
    font-size: 30px;
    font-size: 30px;
    font-size: 20px;

    width: 100px;
    width: 100%;
    width: 100%;

    border-radius: 50%;
    border-radius: 50%;

    overflow: hidden;

    overflow: hidden;

    

}