/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

/* Web Fonts - NoonNoo */
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Seciton Display */
/* header { display: none; }
.welcome { display: none; }
.ceo-access { display: none; }
.banner { display: none; }
.feature { display: none; }
.vision { display: none; }
.faq { display: none; } */
.review { display: none; }
.focus { display: none; }
.guide { display: none; } 
.news { display: none; }
footer { display: none; }

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS */
body {
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  background-color: #fff;
  color: #222;
}

/* Common CSS */
.headline-share {
  text-align: center;
}
.headline-share h1 {
  font-size: 44px;
  position: relative;
  padding-bottom: 20px;
}
.headline-share h1:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 80px;
  background: linear-gradient(to right, #1f8de6, #5ed6fe);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.headline-share p {
  font-size: 20px;
}

/* ####################### Header ####################### */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-inner {
  width: 1300px;
  margin: auto;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 15px;
}
.logo {
  float: left;
}
.logo img {
  margin-top: -7px;
}
.gnb {
  float: right;
}
.gnb a {
  margin: 10px;
  font-size: 16px;
}

/* ################# section : welcome ################# */
.welcome {
  /* border: 5px solid #000; */
  height: 90vh;
  position: relative;
}
.slideshow {}
.welcome-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  text-align: center;
  width: 750px;
}
.welcome-heading span {
  font-size: 24px;
}
.welcome-heading h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 30px;
  margin-top: 15px;
}
.welcome-heading h1 em {
  display: block;
  font-style: normal;
  color: #eb4d4b;
}
.welcome-heading p {
  padding: 0 100px;
  margin-bottom: 50px;
}
.welcome-btns {}
.btn {
  display: inline-block;
  width: 160px;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  transition: 0.5s;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.btn.start {
  background-color: #0abde3;
}
.btn.guide {
  background-color: #fff;
  color: #222;
}

/* Mouse Wheele */
.mouse {
  border: 2px solid #fff;
  position: absolute;
  width: 32px;
  height: 45px;
  border-radius: 30px;
  bottom: 100px;
  left: 250px;
}
.wheele {
  position: absolute;
  width: 4px;
  height: 15px;
  background-color: #fff;
  border-radius: 5px;
  left: 12px;
  top: 10px;
  animation: wheele 1.5s linear infinite;
}
@keyframes wheele {
  0% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

/* ################# section : ceo-access ################# */
.ceo-access {}
.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}
.ceo-content {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
}
.ceo-content > div {
  float: left;
  width: 50%;
}
.ceo-left {
  padding-right: 50px;
}
.ceo-left img {
  width: 30px;
  filter: invert(57%) sepia(52%) saturate(608%) hue-rotate(93deg) brightness(87%) contrast(89%);
}
.ceo-left h3 {
  font-weight: bold;
  font-size: 24px;
}
.ceo-right {
  text-align: center;
}
.ceo-right > div {
  float: left;
  padding: 20px;
}
.ceo-msg {
  width: 60%;
}
.ceo-msg h3 {
  font-size: 28px;
  color: #009b72;
}
.ceo-msg h3 big {
  display: block;
}
.ceo-photo {
  width: 40%;
}
.ceo-photo img {
  border-radius: 15px;
  width: 100%;
}
.access-content {
  padding: 50px 0;
  padding-bottom: 0;
  overflow: hidden;
}
.access-content > div {
  float: left;
  width: 50%;
}
.access-left {
  padding-right: 50px;
  padding-top: 50px;
}
.access-left h2 {
  font-size: 34px;
}
.access-right {
  text-align: center;
}
.access-right img {
  display: block;
  float: right;
}
.btn-download {
  margin-top: 30px;
}

/* ################# section : banner ################# */
.banner {
  /* background: linear-gradient(to right, #69acfe, #6eaefd); */
  background: url(images/wave-line.png) no-repeat center right 100px, linear-gradient(to right, #69acfe, #6eaefd);
  background-size: 80px;
}
.banner-inner {
  width: 1300px;
  margin: auto;
}
.banner-content {
  overflow: hidden;
  padding: 40px 0;
}
.banner-content > div {
  float: left;
  width: 50%;
}
input[name=tabmenu] {
  display: none;
}
.tab-btn {}
.tab-btn label {
  width: 30%;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
.tab-btn label em {
  background-color: #fff;
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
}
.tab-btn label em img {
  width: 60px;
  filter: invert(63%) sepia(63%) saturate(2002%) hue-rotate(187deg) brightness(98%) contrast(106%);
}
.tab-btn label span {
  display: block;
  margin-top: 10px;
}
.tab {
  display: none;
  color: #fff;
  padding-top: 20px;
  padding-left: 50px;
}
.tab h2 {
  font-size: 32px;
  font-weight: bold;
}

/* Checked Function */
input[id=tab1]:checked ~ .tabs .tab1,
input[id=tab2]:checked ~ .tabs .tab2,
input[id=tab3]:checked ~ .tabs .tab3 {
  display: block;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em {
  background-color: #34495e;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em img,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em img,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em img {
  filter: invert()
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] span,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] span,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] span {
  color: #34495e;
}

/* ################# section : banner ################# */
.feature {}
.feature-inner {
  width: 1300px;
  margin: auto;
}
.feature-content {
  overflow: hidden;
  margin: 100px 0;
}
.feature-content > div {
  float: left;
  width: 50%;
  text-align: center;
}
.feature-mockup {}
.feature-about {
  padding: 0 70px;
  padding-top: 80px;
}
.feature-about h2 {
  font-size: 30px;
}

/* ################# section : vision ################# */
.vision {}
.vision-inner {}
.vision-content {
  overflow: hidden;
}
.vision-content > div {
  float: left;
  width: 33.33333333%;
  height: 400px;
}
.vision-item-desc {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision-item-headline {
  width: 60%;
}
.vision-item-desc h3 {
  font-size: 28px;
  margin-bottom: 0;
}
.vision-item-desc hr {
  width: 45px;
  height: 3px;
  border: none;
  background-color: #9b59b6;
  display: inline-block;
}
.vision-item-desc p {
  margin-top: 0;
}
.vision-item-photo {
  /* background: url(images/vision-01.jpg) no-repeat center center;
  background-size: cover; */
}
.vision-item-photo img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

/* ################# section : faq ################# */
.faq {}
.faq-inner {
  width: 1300px;
  margin: auto;
}
.faq-content {}
.faq-content > div {
  float: left;
  width: 50%;
  padding: 25px;
  min-height: 700px; /* .awards-content 위아래로 움직이는 현상 방지 */
}

/* faq-accordion */
.faq-accordion {}
.faq-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}
.faq-item > div {
  padding: 15px;
}
.faq-title {
  color: #4c98e4;
  cursor: pointer;
}
.faq-title:after {
  content: '\f105';
  font-family: fontawesome;
  float: right;
  color: #444;
  transition: 0.35s;
}
.faq-desc {
  display: none;
}
.faq-item.active {
  border: 1px solid #7dbeff;
}
.faq-item.active .faq-title:after {
  color: #7dbeff;
  transform: rotate(90deg);
}

/* awards-content */
.awards-content {
  text-align: center;
}
.award-image {
  position: relative;
  margin-bottom: 40px;
}
.award-image:after {
  content: 'december 9, 2020';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 185px;
  height: 50px;
  color: #ddd;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
.award-image img {
  width: 100%;
}
.awards-content h2 {
  font-size: 36px;
  color: #e7a300;
}
.awards-content p {
  margin-bottom: 40px;
}
.btn-awards {
  border: 1px solid #000;
  padding: 13px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  transition: .35s;
}
.btn-awards:hover {
  color: #fff;
  background-color: crimson;
  /* border: none; */
  border-color: transparent;
}





















/* ▦▦▦▦▦▦▦▦▦ Slick Custom CSS ▦▦▦▦▦▦▦▦▦ */
.slideshow .slick-arrow {
  border: 1px solid #000;
  display: none !important;
}
.slideshow * {
  outline: none;
}